# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Image 
*.tga

# Others
*.layout
*.dev
/Debug/
/Release/
/Software-Render/Debug/
/Software-Render/Release/
/Software-Render/x64/
/x64/
/.vs/
